body{
    background-color: darksalmon;
    text-align: center;
}
#text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:brown;
}
img{
    height:300px;
    width:300px;
}